<div class="container">

    <h1>Grocery Query</h1>
    <br>
    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="id">Grocery ID:</label>
            <input id="id" class="form-control" type="text" name="id"
                   placeholder="Enter grocery ID to search"
                   ng-model="ctrl.id"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>

    <hr>
    <table class="table table-striped" ng-show="ctrl.showDetails">
        <thead>
        <tr>
            <th>Grocery Attributes</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>ID</td>
            <td>
                {{ ctrl.result.id }}
            </td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.name }}
                </div>
                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control"  size ="100" ng-model="ctrl.result.name">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Product Brand</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.brand }}
                </div>
                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control"  size ="100" ng-model="ctrl.result.brand">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>UPC12</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.upc12 }}
                </div>
                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control"  size ="100" ng-model="ctrl.result.upc12">
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
             <div ng-hide="ctrl.isEditorOn">
                    <button type="button" class="btn btn-info label-default"
                            ng-click="ctrl.toggleEditor()">
                        Edit
                    </button>
            </div>
            <div ng-show="ctrl.isEditorOn" class="input-group-btn">
                <button type="button" class="btn btn-info label-success"
                        ng-click="ctrl.save()">Save
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
                </button>
                <button type="button" class="btn btn-info label-danger"
                        ng-click="ctrl.toggleEditor()">Cancel
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                </button>
            </div>

</div>
