<div class="container">

    <h1>Search Here :</h1>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="name" class="form-control" type="text" name="name" ng-model="ctrl.searchField"
                   placeholder="Product Search">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Product Name
            </button>
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchForBrand()">
                Search Product Brand
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Barcode</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="grocery in ctrl.groceries">
            <td><a ng-click="ctrl.showGrocery(grocery.id)">{{grocery.id}}</a>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
            </td>
            <td>{{ grocery.name }}</td>
            <td>{{ grocery.brand }}</td>
            <td><img src="http://www.barcodes4.me/barcode/c128a/{{ grocery.upc12 }}.png?IsTextDrawn=1" alt="barcode"></td>
        </tr>
        </tbody>
    </table>
</div>